.slider-center {
  width: 100%;
  display: flex;
  position: relative;
  perspective: 1400px;
  justify-content: center;
  transform-style: preserve-3d;
  font-family: "Helvetica Neue", sans-serif;
}

.slider-center img {
  height: 100%;
  width: 100%;
}

.slider-center div
 {
  position: absolute;
  width: 60%;
  height: 32vw;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: transform .4s ease;
}

/* Slider Functionality */

/* Active Slide */
.slider-center .slider--item__active {
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
.slider-center .slider--item__next__first {
  transform: translate3d(20%, 0, -200px);
}

/* Next to Next Slide */
.slider-center .slider--item__next__second {
  transform: translate3d(40%, 0, -350px);
}

/* Previous to Previous Slide */
.slider-center .slider--item__previous__second {
  transform: translate3d(-40%, 0, -350px);
}

/* Previous Slide */
.slider-center .slider--item__previous__first {
  transform: translate3d(-20%, 0, -200px);
}

/* dots slide */
.slider-center .slider-center__dots {
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 0;
  list-style: none;
  transform: translate(0, 100%);
  padding: 10px;
}

.slider-center .slider-center__dots .dot__item,.dot__item--active {
 height: 10px;
 width: 10px;
 margin-right: 8px;
 background-color: orangered;
 border-radius: 10px;
 cursor: pointer;
 transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider-center .slider-center__dots .dot__item--active {
  width: 35px;
 }